*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("../img/Design sem nome.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 105vh;
    
}



.titulo{
    backdrop-filter: blur(10px);
    color: aliceblue;
    top:30vh;
    left: 10vh;
    padding: 7px;
    position: absolute;
    background: rgba(255, 255, 255, 0.185);
    border-radius: 15px 15px 15px 15px;
    box-shadow: 2px 2px 20px 2px black;
    transition: 0.5s;
}

.titulo:hover{
    padding: 12px;
    position: absolute;
    transform: scale(1.0);
    transition: 0.5s;
    box-shadow: 2px 2px 20px 5px rgb(20, 20, 20);
}


.titulo2{
    color: rgb(0, 0, 0);
    top:40vh;
    left: 15vh;
    padding: 5px;
    position: absolute;
}



.card-ajuda {
    position: absolute;
    top: 80vh;
    left: 10vw;
    width: 350px;
    padding: 20px;
    justify-content: space-around;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);

    text-align: center;
}

.card-ajuda h2 {
    margin-bottom: 10px;
}

.card-ajuda p {
    margin-bottom: 15px;
}

.card-ajuda button {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

